<table  style="font-size: 12px;border:0px;">
    <tbody>
        <tr>
            <td colspan="2">
                <center><strong>
                    USO EXCLUSIVO DE LABORATORIO NACIONAL DE REFERENCIA
                </strong></center>
            </td>
        </tr>
        <tr>
            <td><strong>Fecha de recepción de la muestra: </strong> ______ / ______ / ______</td>
            <td> <strong>Número de ID  de la muestra: </strong>___________________________ </td>
        </tr>
        <tr>
            <td><strong>Fecha de procesamiento de la muestra: </strong> ______ / ______ / ______</td>
            <td><strong>Fecha de resultado de la muestra: </strong> ______ / ______ / ______</td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>
                    Resultado por método utilizado:
                </strong>
            </td>
        </tr>
        <tr>
            <td><strong>Elisa</strong> _________________</td>
            <td>
                <strong>Resultado cuantitativo: </strong> ___________________________ 
                <br><br><strong>SEROVAR REACTOR: </strong> ___________________________ <strong> TÍTULO: ___________ </strong>
            </td>
        </tr>
        <tr>
            <td><strong>PCR</strong> _________________</td>
            <td><strong>SEROVAR REACTOR: </strong> ___________________________ <strong> TÍTULO: ___________ </strong> </td>
        </tr>
        <tr>
            <td><strong>CULTIVO</strong> _________________</td>
            <td><strong>SEROVAR REACTOR: </strong> ___________________________ <strong> TÍTULO: ___________ </strong> </td>
        </tr>
        <tr>
            <td><strong>OTRO METODO:</strong> _________________</td>
            <td>Se considera POSITIVA una reacción 1:160 ó mayor a uno ó más de los antígenos de Leptospira.<br> 
                Para completar el examen serológico, debe obtenerse una SEGUNDA MUESTRA, la cual deberá<br>
                examinarse dos ó tres semanas después de la fecha de extraccioon de la primera muestra</td>
        </tr>
        <tr>
            <td style="padding-left: 20px !important;">
                <strong>Tipo de muestra: </strong><br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>
                &nbsp;&nbsp;Indeterminado<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>
                &nbsp;&nbsp;Muestra enviada al exterior<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>
                &nbsp;&nbsp;Muestra inadecuada
            </td>    
            <td><br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>
                &nbsp;&nbsp;Negativa<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>
                &nbsp;&nbsp;No se resibió muestra<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>
                &nbsp;&nbsp;Positiva
            </td>
        </tr>
        <tr>
            <td colspan="2"><strong>Fecha de envío: </strong> ______ / ______ / ______</td>
        </tr>
        <tr>
            <td>
                <center>
                <strong>
                    <br>_________________________________________________ 
                    <br>Firma y  sello del profesional de laboratorio
                </strong>
                </center>
            </td>
            <td >
                <center>
                <br>____________________________________
                <br><strong>Sello de laboratorio</strong>
                </center>
            </td>
        </tr>
    </tbody>
</table>