<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
                border: 1px dashed #000;
                font-size:11px;
                border-collapse: separate;
                border-spacing: 10px 0px;
                height:460px;
            }
            .td-enca {
                text-align:center;
                font-size:15px;
            }
            label{
                font-weight: bold;
            }
            td {
               padding-left: 5px;
            }
            .td-medicamento{
                font-size: 15px;
            }
            .td-medicamento-detalle{
                font-size:  13px;
            }
            </style>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body onload="subst()">
    {% set i = 1 %}
    {% set twoxpage = 1 %}
    {% set aux = '' %}
    {% for cuantamedicina in objReceta %}

    {% if aux != cuantamedicina.med.getIdmedicina %}
        {% set aux = cuantamedicina.med.getIdmedicina %}
        {% set i = 1 %}
    {% endif %}


    <table width="100%" >
        <tr>
            <td class ="td-enca" colspan="4">
            <b><br/>
                {{ '#'~cuantamedicina.med.getIdreceta().numeroreceta }}
                {{ cuantamedicina.med.getIdreceta().getIdestado()|trim is sameas('R') ? 'RECETA DEL DIA' : '<<'~'RECETA REPETITIVA'~'>>' }}
                {{ i~'/'~cuantamedicina.cuantos }}<br/>
                {{idhistorialclinico.getIdEstablecimiento.nombre}}
                {{idhistorialclinico.getIdEstablecimiento.getIdMunicipio.nombre}}
                <br/>Receta de Dispensaci&oacute;n a Paciente Consulta Externa<br/>
                Medicamento se despachara: {{ cuantamedicina.med.getIdEstablecimientoDespacha() }}
            </b>
            </td>

        </tr>
        <tr>
            <td colspan="4" style="font-size: 20px;text-align:right;" colspan="2"><label>No Expediente: </label><b>{{expediente.numero}}</b></td>
        <tr>
            <td colspan="2" style="font-size: 11px;border:solid 1px" class="td-medicamento-detalle" colspan="2"><label>Fecha Entrega: </label><b>{{cuantamedicina.med.getIdreceta().getFecha()|localizeddate('full', 'none', 'es_SV')|title}} </b></td>
            <td colspan="2" class="td-medicamento-detalle"><label>Horario: </label><b>{{cuantamedicina.med.getIdreceta().getIdRangohora()|raw}}</b></td>
        </tr>
        <tr>
            <td colspan="4" class="td-medicamento-detalle" ><label>Paciente:</label>
            {{expediente.getIdPaciente().primerApellido}} {{expediente.getIdPaciente().segundoApellido}} {{expediente.getIdPaciente().apellidoCasada}}, {{expediente.getIdPaciente().primerNombre}} {{expediente.getIdPaciente().segundoNombre}} {{expediente.getIdPaciente().tercerNombre}}   </td>
        </tr>
        <tr>
            <td colspan="2" class="td-medicamento-detalle"><label>Procedencia: </label>{{expediente.getIdPaciente().areaGeograficaDomicilio}}
            <td colspan="2" class="td-medicamento-detalle"><label>Edad: </label>{{edad}}</td>
        </tr>
        <tr>
            <td colspan="2" class="td-medicamento-detalle"><label>Sexo: </label>{{expediente.getIdPaciente().idSexo}}</td>
            <td colspan="2" class="td-medicamento-detalle"><label>Fecha consulta: </label>{{idhistorialclinico.fechaconsulta|date('d-m-Y')}}</td>
        </tr>
        <tr >
            <td class="td-medicamento" colspan="4"><label>Medicamento: </label>{{ cuantamedicina.med.getIdmedicina().nombre}}, {{cuantamedicina.med.getIdmedicina().concentracion}}, {{cuantamedicina.med.getIdmedicina().formafarmaceutica}}</td>
        </tr>
        <tr>
            <td class="td-medicamento" colspan="4"><label>Dosis: </label>{{ cuantamedicina.med.dosis }}</td>
        </tr>
        <tr>
            <td style="font-size: 20px;" class="td-medicamento" colspan="4"><label>Cantidad: </label>{{ cuantamedicina.med.totalMedicamento }}</td>
        </tr>
        <tr><td><br/></td></tr>
        <tr>
            {% set codeqr =  idhistorialclinico.getIdEmpleado.nombreempleado~'\n J.V.P.M  No. '~ (idhistorialclinico.getIdEmpleado.numeroJuntaVigilancia is not null ? idhistorialclinico.getIdEmpleado.numeroJuntaVigilancia : '-') ~'\n'~ idhistorialclinico.idAtenAreaModEstab.getNombreConsulta()%}
            <td style="text-align: center"><img src="{{ qrcode_data_uri(''~codeqr, size=500, padding=10) }}" height = '60px'/></td>
            <td class="td-medicamento-detalle" style="text-align: center"><label><br/><br/>{{ idhistorialclinico.idAtenAreaModEstab.getNombreConsulta() }}</label></td>
            <td class="td-medicamento-detalle"><br/><label>F. _______________<br/>{{ idhistorialclinico.getIdEmpleado.nombreempleado }}</label></td>
            <td class="td-medicamento-detalle" style="text-align: center"><br/> <label>__________________<br/>Sello del Medico</label></td>
        </tr>
         <tr>
            <td colspan="4" style="font-size:9px;">
                Nota: Farmacia dispensara en base a la dosis, hasta un maximo de 30 días.
            </td>
        </tr>
        <tr>
            <td style="text-align: center" class="td-medicamento-detalle"><br/><br/><br/><br/><label>_________________<br/>Cantidad Despachada</label> </td>
            <td colspan="2" style="text-align: center" class="td-medicamento-detalle"><br/><br/><br/><br/><label>__________________<br/>Auxiliar de Farmacia</label> </td>
            <td style="text-align: center" class="td-medicamento-detalle"><br/><br/><br/><br/><label>_________________<br/>Sello de Despacho</label> </td>
        </tr>
    </table>

    {% set i = i+1 %}
    {% set twoxpage = twoxpage+1 %}

    {% if twoxpage >2 %}
        <br>
         <p style="page-break-after: always;"></p>
        {% set twoxpage = 1 %}
    {% endif %}
    {% endfor %}
    </body>
</html>
