{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% use 'MinsalSiapsBundle::acercaDe.html.twig' %}
{% set _version = 1.2 %}

{% block meta_tags %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/applicationcore/images/siap_icon.png') }}?v={{ _version }}" type="image/png" rel="Shortcut Icon">
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/iCheck/all.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/minsalsiaps/css/siaps.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/css/fullcalendar/fullcalendar.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/css/bootstrap-daterangepicker/daterangepicker-bs3.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/vendor/clockpicker/dist/bootstrap-clockpicker.min.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/vendor/bootstrap-tour/build/css/bootstrap-tour.min.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/minsalsiaps/css/jasny-bootstrap/jasny-bootstrap.min.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/vendor/waitMe/waitMe.min.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/plugins/buttons/buttons.dataTables.min.css') }}?v={{ _version }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationcore/vendor/bootstrap3-wysihtml5/dist/bootstrap3-wysihtml5.min.css') }}?v={{ _version }}" type="text/css" media="all" />

    {% if app.user.getId() is defined %}<link rel="stylesheet" href="{{ asset('bundles/applicationcore/css/corelayout.css') }}?v={{ _version }}" type="text/css" media="all" />{% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        window.SONATA_CONFIG = {
            CONFIRM_EXIT: {# if admin_pool is defined and admin_pool.getOption('confirm_exit') %}false{% else %}false{% endif #}false,
            USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
            USE_ICHECK: {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
        };
        window.SONATA_TRANSLATIONS = {
            CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
        };
    </script>

    {% for javascript in admin_pool.getOption('javascripts', []) %}
        {% if 'Admin.js' in javascript %}
            <script src="{{ asset('bundles/applicationcore/js/admin-bundle/Admin.js') }}?v={{ _version }}" type="text/javascript"></script>
        {% else %}
            <script src="{{ asset(javascript) }}?v={{ _version }}" type="text/javascript"></script>
        {% endif %}
    {% endfor %}

    <script src="{{ asset('bundles/minsalsiaps/js/jasny-bootstrap/jasny-bootstrap.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}&v={{ _version }}" type="text/javascript"></script>
    <!--Adesigns Bundle-->
    <script src="{{ asset('bundles/applicationcore/js/fullcalendar/fullcalendar.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/minsalsiaps/js/funciones_generales.js') }}?v={{ _version }}" type="text/javascript" id="funciones_generales_js"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/moment/moment.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/js/bootstrap-daterangepicker/daterangepicker.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/clockpicker/dist/bootstrap-clockpicker.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/bootstrap-tour/build/js/bootstrap-tour.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/minsalsiaps/js/maskedinput/jquery.maskedinput.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/plugins/buttons/buttons.html5.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/plugins/buttons/buttons.print.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/plugins/buttons/dataTables.buttons.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/plugins/buttons/jszip.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/plugins/buttons/pdfmake.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/AdminLTE/plugins/datatables/plugins/buttons/vfs_fonts.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/waitMe/waitMe.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/bootstrap-number-input-master/bootstrap-number-input.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/bootstrap3-wysihtml5/dist/bootstrap3-wysihtml5.all.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/bootstrap3-wysihtml5/dist/locales/bootstrap-wysihtml5.es-ES.js') }}?v={{ _version }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/applicationcore/vendor/waitMe/waitMe.min.js') }}?v={{ _version }}" type="text/javascript"></script>
    {% if app.user%}
        <script type="text/javascript">
        var currentTime = new Date();
        var year = currentTime.getFullYear();
        var modal_elements=[];
        var collectionIndex = [];
        var auxiliarMenu =  { main :
                                {
                                  backgroundColor: '#F9F9F9',
                                  borderColor    : '#3C8DBC',
                                  color          : '#3C8DBC',
                                  //marginTop      : 300,
                                  icon           : '<i class="fa fa-fw fa-bars"></i>',
                                  tabs           : {}
                                }
                            };
        var userTourCreateRoute = '{{url('admin_application_core_mntusertour_create')}}';

        function showAbout() {
            return '{% spaceless %}{{- block("about_content")|replace({"\n":""})|raw -}}{% endspaceless %}';
        }
        </script>
    {% endif %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            {% if app.user.getId() is defined %}
                var eAbout = $('#about_info_modal');
                eAbout.on('click', function () {
                    modal_elements.push({
                        id: 'about_info_modal',
                        header: 'Acerca de',
                        func: 'showAbout',
                        footer: 'Ministerio de Salud - DTIC, &copy; ' + year + ' Todos los derechos reservados.',
                        widthModal: '750px'
                    });
                });
                $('#manualUsuario').attr('href', '{{ path('render_download_file', {
                                        'name'       : app.session.get("_manualUsuario"),
                                        'directory'  : 'manualUsuario'|escape('url'),
                                        'file_type'  : 'document/pdf'|lower|escape('url'),
                                        'disposition': 'inline',
                                        'thumbnail'  : false
                                        }
                                    )
                                }}');
                $('#manualUsuario').attr('target', '_blank');
                $('body').append('<div class="page-footer"><img class="dtic-footer" src="{{ asset("bundles/applicationcore/images/dtic.png") }}?v={{ _version }}" alt="dtic"/>Dirección de Tecnologías de Información y Comunicaciones - Ministerio de Salud</div>');

                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                    auxiliarMenu.main.tabs = { userTour :
                                                { title            : 'Tutorial de Usuario',
                                                  icon             : '<i class="fa fa-fw fa-rocket"></i>',
                                                  dropdown         : true,
                                                  active           : false,
                                                  content          : '',
                                                  dropdownOptions  :
                                                    { createTour :
                                                        { title      : 'Crear',
                                                          href       : '#',
                                                          //addDivider : false,
                                                          otherAttrs : { 'onClick' : 'createUserTour();' }
                                                        }
                                                    }
                                                }
                                            };
                    /* Por el momento solo se llama esta funcion cuando se es administrador */
                    buildAuxMenu(auxiliarMenu);
                {% endif %}

            {% endif %}
        });
    </script>
    {% if app.user.getId() is defined %}
        <script type="text/javascript">
            var lastUsed = 0;
            var remaining = 0;
            var lapse = 0;
            var limit
            = {{ max_iddle_time }};
                    var url = '{{ path("sonata_user_admin_security_login", {'_moduleSelection': app.session.get("_moduleSelection") } ) }}';
            var interval = 5000;

            idleSession();

            jQuery(document).ready(function ($) {
                $.ajaxSetup({
                    complete: function (xhr, textStatus) {
                        var found = this.url.search('siaps/timeInfo');
                        if (found === -1) {
                            idleSession();
                        }
                    }
                });
            });

            function idleSession() {
                try {
                    jQuery.ajax({
                        url: Routing.generate('siapsTimeInfo'),
                        async: true,
                        dataType: 'json',
                        success: function (data) {
                            if (data.status === null) {
                                reloadPage();
                            } else {
                                lastUsed = data.time;
                                lapse = time() - lastUsed;
                                remaining = limit - lapse;
                            }
                        }
                    });
                } catch (e) {
                    console.log(e);
                    return false;
                }

            }

            var idleInterval = setInterval(timeCheck, interval);

            function timeCheck() {
                remaining = remaining - (interval / 1000);
                if (remaining < 0) {
                    idleSession();
                }
            }

            function reloadPage() {
                window.location.href = url;
            }
        </script>
    {% endif %}
{% endblock %}

{% block body_attributes %}class="sonata-bc"{% endblock %}

{% block sonata_header %}
    <header class="header">
        {% block logo %}
            <center>
                <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
                    <img class="banner" src="{{ asset('bundles/applicationcore/images/logo_siaps.png') }}?v={{ _version }}" alt="{{ admin_pool.title }}">
                </a>
            </center>
            {% if app.user %}
                <h1 class="establecimiento">{{ app.user.getIdEstablecimiento() }}</h1>
                {% if app.user.getIdEmpleado() %}
                    <p class="usuario"><strong>Bienvenid@:</strong>{{app.user.getIdEmpleado()}}</p>
                {% else %}
                    <p class="usuario"><strong>Bienvenid@:</strong>{{app.user}}</p>
                {% endif %}
            {% endif %}
        {% endblock %}

        {# Creacion del Menu #}
        {% block sonata_nav %}
            {% if admin_pool is defined %}
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>

                        <div class="navbar-left">
                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                {% block sonata_side_nav %}

                                    {% block side_bar_before_nav %} {% endblock %}
                                    {% block side_bar_nav %}
                                        {# if app.security.token and is_granted('ROLE_SONATA_ADMIN') #}
                                        {% block custom_menu %}
                                            {% if app.user %}
                                                {% set cus_menu = knp_menu_get('ApplicationCoreBundle:MenuBuilder:mainMenu', [], {'admin': admin_pool.dashboardgroups, 'user':app.user}) %}
                                                {{ knp_menu_render(cus_menu, {'currentClass': 'active', 'template': 'ApplicationCoreBundle:Menu:knp_menu.html.twig'}) }}
                                            {% endif %}
                                        {% endblock %}
                                        {# endif #}
                                    {% endblock side_bar_nav %}
                                    {% block side_bar_after_nav %}
                                    {% endblock %}
                                {% endblock sonata_side_nav %}
                            </div>
                        </div>

                        {% block sonata_top_nav_menu %}
                            <div class="navbar-right">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown user-menu">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            {% include 'SonataAdminBundle::user_block.html.twig' %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        {% endblock %}
                    </div>    <!--Container Fluid-->
                </nav>
            {% endif %}
        {% endblock sonata_nav %}
        {# Fin del Bloque de Menu #}
    </header>

    {# Inicio del Bloque Breadcrumb #}
    <div class="row{% if _breadcrumb is empty and action is not defined %} row-breadcrumb{% endif %}">
        <div class="col-md-12 breadcrumb">
            {% block sonata_breadcrumb %}
                {% if _breadcrumb is not empty or action is defined %}
                    <ol class="nav navbar-top-links breadcrumb">
                        {% if _breadcrumb is empty %}
                            {% if action is defined %}
                                {% for menu in admin.breadcrumbs(action) %}
                                    {% if not loop.last  %}
                                        <li>
                                            {% if menu.uri is not empty %}
                                                {% if menu.label=='Dashboard' or menu.label=='⌂' %}
                                                    <a href="{{ menu.uri }}"><span class="glyphicon glyphicon-home"></span> </a>
                                                {% else %}
                                                    <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                {% endif %}
                                            {% else %}
                                                {{ menu.label }}
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <li class="active"><span>{{ menu.label }}</span></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {{ _breadcrumb|raw }}
                                {% endif %}
                    </ol>
                {% endif %}
            {% endblock sonata_breadcrumb %}
        </div>
    </div>
    {# Fin del Bloque Breadcrumb #}
{% endblock sonata_header %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block sonata_page_content_nav %}
    {% if _tab_menu|trim is not empty or _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
        <nav class="navbar navbar-default" role="navigation">
            {% if _navbar_title is not empty %}
                <div class="navbar-header">
                    <span class="navbar-brand">{{ _navbar_title|raw }}</span>
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="navbar-left">
                    {% if _tab_menu is not empty %}
                        {{ _tab_menu|raw }}
                    {% endif %}
                </div>

                {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown sonata-actions">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acci&oacute;n<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                {{ _actions|raw }}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    {% endif %}
{% endblock sonata_page_content_nav %}
