{% extends 'SonataAdminBundle::layout.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/minsalseguimiento/css/SecIngreso/list.css') }}" type="text/css" media="all" />
{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/minsalsiaps/js/maskedinput/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('select[id$="servicio_ingreso"]').prepend('<option/>').val(function(){ return $('[selected]',this).val(); });
        $('select[id$="servicio_ingreso"]').select2({
            placeholder: 'Seleccionar...',
            allowClear:  true,
            width:'50%'
        });

        $("#fecha_nacimiento").mask("99/99/9999");
        $("#nec").focus();
        $('input.nombres').blur(function () {
            $(this).val(limpiar_nombres($(this).val()));
        });
        $('input.nombresLargos').blur(function () {
            $(this).val(limpiar_nombres($(this).val()))
        });

        $.getJSON(Routing.generate('get_servicios_hospitalarios_todos'),
        function(data) {
            $.each(data.especialidades, function(indice, aux) {
                $('#servicio_ingreso').append('<option value="' + aux.id + '">' + aux.nombre + '</option>');
            });
        });

        $("#buscar").click(function(e) {
                if ($("#nec").val() != '') {
                    regexp = /^[0-9]{1,}$/;
                    var valores = $("#nec").val().split('-');
                    if (valores.length > 2) {//VERIFICA SI TIENE MAS DE DOS GUIONES
                        /*PARA MOSTRAR MENSAJE DE ERROR DE FORMATO DE EXPEDIENTE
                         * PRIMERO SE CREA O ELIMINA EL ELEMENTO
                         * LUEGO SE CREA CON EL MENSAJE ADECUADO Y SE COLOCA
                         * LUEGO DEL FORMULARIO PARA ABRIRSE.
                         * */
                         var title='Error de Formato de Expediente';
                         var body="El formato del número de expediente no es el adecuado.";
                         var clase='dialog-error';
                         var arrayBtns = [{text: 'Cerrar',
                                     click: function( event, ui) {
                                     jQuery( this ).dialog( "close" );
                                     $("#nec").val('');
                                     $("#nec").focus();
                                   }}
                                 ];
                        showDialogMsg(title, body, clase, '', arrayBtns, false, null, true);
                         e.preventDefault();
                    } else {
                        if (!regexp.test(valores[0])) {//CONTIENE LETRAS EN INFINITO
                            /*PARA MOSTRAR MENSAJE DE ERROR DE FORMATO DE EXPEDIENTE
                             * PRIMERO SE CREA O ELIMINA EL ELEMENTO
                             * LUEGO SE CREA CON EL MENSAJE ADECUADO Y SE COLOCA
                             * LUEGO DEL FORMULARIO PARA ABRIRSE.
                             * */
                             var title='Error de escritura';
                             var body="El Número de Expediente no puede contener letras";
                             var clase='dialog-error';
                             var arrayBtns = [{text: 'Cerrar',
                                         click: function( event, ui) {
                                         jQuery( this ).dialog( "close" );
                                         $("#nec").val('');
                                         $("#nec").focus();
                                       }}
                                     ];
                             showDialogMsg(title, body, clase, '', arrayBtns, false, null, true);
                             e.preventDefault();
                        } else {
                            if (valores.length > 1) {
                                if (!regexp.test(valores[1])) {
                                    /*PARA MOSTRAR MENSAJE DE ERROR DE FORMATO DE EXPEDIENTE
                                     * PRIMERO SE CREA O ELIMINA EL ELEMENTO
                                     * LUEGO SE CREA CON EL MENSAJE ADECUADO Y SE COLOCA
                                     * LUEGO DEL FORMULARIO PARA ABRIRSE.
                                     * */
                                     var title='Error de escritura';
                                     var body="El Número de Expediente no puede contener letras";
                                     var clase='dialog-error';
                                     var arrayBtns = [{text: 'Cerrar',
                                                 click: function( event, ui) {
                                                 jQuery( this ).dialog( "close" );
                                                 $("#nec").val('');
                                                 $("#nec").focus();
                                               }}
                                             ];
                                     showDialogMsg(title, body, clase, '', arrayBtns, false, null, true);
                                     e.preventDefault();
                                } else {
                                    cargarPacientes();
                                }
                            } else {
                                cargarPacientes();
                            }
                        }
                    }
                } else {
                    if ($("#servicio_ingreso").val() != '') {
                        cargarPacientes();
                    } else {
                        if ($("#nec").val() != '') {
                            cargarPacientes();
                        } else {
                            if ($("#fecha_nacimiento").val() != '') {
                                cargarPacientes();
                            }
                            else {
                                if ($("#primer_apellido").val() == '' && $("#primer_nombre").val() == '') {
                                    var title='Campos Obligatorios';
                                    var body="Los campos:\n\
                                    <ul><li> <strong>Primer Apellido</strong> </li><li><strong>Primer Nombre</strong></li></ul>";
                                    var clase='dialog-error';
                                    var arrayBtns = [{text: 'Cerrar',
                                                click: function( event, ui) {
                                                jQuery( this ).dialog( "close" );
                                                  $("#primer_apellido").focus();
                                              }}
                                            ];
                                    showDialogMsg(title, body, clase, '', arrayBtns, false, null, true);
                                    e.preventDefault();
                                } else {
                                    cargarPacientes();
                                }
                            }
                        }
                    }
                }
                return false;
            });
            function cargarPacientes(){
                $('#resultadoBusqueda').empty();
                $('#resultadoBusqueda').append('<center><img id="wait" src="{{ asset("bundles/minsalsiaps/imagenes/wait_icon1.gif") }}" alt="wait" width="24" height="24"><div id="search-message">Por Favor Espere...</div></center>');
                $('#resultadoBusqueda').load(Routing.generate('buscar_ingresos',{'datos':$('#buscarForm').serialize()}));
            }
    });
    </script>
{% endblock %}

{% block sonata_admin_content -%}
{% block notice %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
{% endblock notice %}
    <h4><img class="icono" src={{ asset('bundles/minsalsiaps/imagenes/buscar-paciente.png') }} />Consulta de  Ingresos por Paciente</h4>
    <br/>
    <form id="buscarForm" method="post" >
        <table class="table table-bordered ">
            <tbody>
                <tr>
                    <td class="sonata-ba-list-field-header "><strong>Número de Expediente</strong></td>
                    <td><input id="nec" name="nec" type="text" class="fecha form-control"  maxlength="15" /></td>
                </tr>
                <tr>
                    <td class="sonata-ba-list-field-header "><strong>Primer Apellido:*</strong></td>
                    <td><input id="primer_apellido" name="primer_apellido" class="nombres form-control" type="text"  maxlength="25"/></td>
                    <td class="sonata-ba-list-field-header "><strong>Segundo Apellido:</td>
                    <td><input id="segundo_apellido" name="segundo_apellido" class="nombres form-control" type="text"  maxlength="25"/></td>
                    <td class="sonata-ba-list-field-header "><strong>Apellido Casada:</td>
                    <td><input id="apellido_casada" name="apellido_casada" class="nombres form-control" type="text"  maxlength="25"/></td>

                </tr>
                <tr>
                    <td class="sonata-ba-list-field-header "><strong>Primer Nombre: *</strong></td>
                    <td><input id="primer_nombre" name="primer_nombre" type="text" class="nombres form-control"  maxlength="25"/></td>
                    <td class="sonata-ba-list-field-header "><strong>Segundo Nombre:</strong></td>
                    <td><input id="segundo_nombre" name="segundo_nombre" type="text" class="nombres form-control"  maxlength="25"/></td>
                    <td class="sonata-ba-list-field-header "><strong>Tercer Nombre:</strong></td>
                    <td><input id="tercer_nombre" name="tercer_nombre" type="text" class="nombres form-control"  maxlength="25"/></td>
                </tr>
                <tr>
                    <td class="sonata-ba-list-field-header "><strong>Fecha Nacimiento:</strong></td>
                    <td><input id="fecha_nacimiento" name="fecha_nacimiento" type="text" class="fecha form-control bootstrap-datepicker now form-control" /></td>
                    <td class="sonata-ba-list-field-header"><strong>Servicio de Ingreso:</strong></td>
                    <td colspan="3">
                        <select id="servicio_ingreso" name="servicio_ingreso" style="margin-left:4px !important;">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="no-bottom-border">
                        <div class="pull-right">
                            <a id="buscar" class="btn btn-primary" href="">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar
                            </a>
                            <a id="limpiar" class="btn btn-info" href="">
                                <span class="glyphicon glyphicon-trash"></span>
                                Limpiar
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div id="resultadoBusqueda"></div>
{% endblock -%}
