{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            <table class="table table-bordered">
                {% if name %}
                    <thead>
                        <tr class="sonata-ba-view-title">
                            <th colspan="2">
                                {{ admin.trans(name) }}
                            </th>
                        </tr>
                    </thead>
                {% endif %}

                <tbody>
                    {% for field_name in view_group.fields %}
                        <tr class="sonata-ba-view-container">
                            {% if elements[field_name] is defined %}
                                {% if field_name == 'idEmpleado' %}
                                    {%if medicos|length >0 %}
                                        <th>Empleado/s</th>
                                        <td>
                                        <ul>
                                            {%for medico in medicos %}
                                                {%if medico.idEmpleado!=null %}
                                                    <li>{{medico.nombreEmpleado|title}}</li>
                                                {% endif %}
                                            {%endfor%}
                                        </ul></td>
                                    {% endif %}
                                {% else %}
                                    {{ elements[field_name]|render_view_element(object) }}
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
{% endblock %}
