{% extends 'SonataUserBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .ui-front {
            z-index: 1030 !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#guardar").click(function() {
                if ($("#fos_user_change_password_form_new_first").val() != $("#fos_user_change_password_form_new_second").val()) {
                    $("#fos_user_change_password_form_new_first").val('');
                    $("#fos_user_change_password_form_new_second").val('');
                    $("#fos_user_change_password_form_new_first").focus();

                    $("body").append('<div id="dialog-message"></div>');
                    $("#dialog-message").empty();
                    $("#dialog-message").append('<p><span class="glyphicon glyphicon-exclamation-sign"></span> Los campos de la nueva contraseña no coinciden.<br /><strong>Por favor vuelva a digitarlas</strong></p>');
                    $("#dialog-message").dialog({
                        dialogClass: "dialog-error",
                        modal: true,
                        title: 'Contraseñas no coinciden.',
                        width: 500,
                        buttons: {
                            Aceptar: function() {
                                $( this ).dialog( "close" );
                            }
                        }
                    });
                    
                    return false;
                }

            });
        });

    </script>
{% endblock %}

{% block fos_user_content %}
    <center>
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            <table style="border-collapse: separate; border-spacing: 10px;">
                <tr>
                    <td>{{ form_label(form.current_password, label|default(null)) }}</td>
                    <td>{{ form_widget(form.current_password) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.new.first, label|default(null)) }}</td>
                    <td>{{ form_widget(form.new.first) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.new.second, label|default(null)) }}</td>
                    <td>{{ form_widget(form.new.second) }}</td>
                </tr>
            </table>
            {{ form_widget(form) }}
            <div>
                <button id="guardar" type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                </button>
                <a class="btn btn-info" href="{{ path('_inicio') }}">
                    <span class="glyphicon glyphicon-home"></span> Regresar
                </a>
            </div>
        </form>
    </center>
{% endblock fos_user_content %}
