{# src/MinsalCitasBundle/CitasMedicas/asignar.html.twig #}
{% extends 'SonataAdminBundle::layout.html.twig' %}
{% block title %}
    Fechas Libres
{% endblock %}
{% set idAreaModEstab = idAreaModEstab ? idAreaModEstab : '1' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/minsalsiaps/css/MntExpediente/list.css') }}" type="text/css" media="all" />
{% endblock%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function () {
        var idAreaModEstab = $('#idAreaModEstab');
        var idAtenAreaModEstab = $('#idAtenAreaModEstab');

        initializeSelect2(idAreaModEstab, true, false, {
            placeholder: 'Seleccione...',
            allowClear: true,
            width: '100%'
        });

        initializeSelect2(idAtenAreaModEstab, true, true, {
            placeholder: 'Seleccione...',
            allowClear: true,
            width: '100%'
        });

        idAreaModEstab.on('change', function () {
            initializeSelect2(idAtenAreaModEstab, true, true, {
                placeholder: 'Seleccione...',
                allowClear: true,
                width: '100%'
            });
            $('#resultado').empty();
            if ($(this).val()) {
                $.ajax({
                    url: Routing.generate("obtener_especialidades_por_area", {'idAreaModEstab': $(this).val()}),
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        $.each(data.resultados, function (indice, val) {
                            idAtenAreaModEstab.append($('<option>', {value: val.id, text: val.text}));
                        });
                    }
                });
            }
        });

        $('#limpiar').on('click', function(){
            initializeSelect2(idAtenAreaModEstab, true, true, {
                placeholder: 'Seleccione...',
                allowClear: true,
                width: '100%'
            });
            idAreaModEstab.trigger('change');
        });

        idAtenAreaModEstab.on('change',function(){
            $('#resultado').empty();
        });


        $('#buscar').on('click',function(e){
            if(idAtenAreaModEstab.select2('val')!=''){
                $('#resultado').waitMe({ text: 'Buscando...' })
                $('#resultado').load(Routing.generate("consulta_fechas_libres",{'datos':$('#formBusqueda').serialize()}),
                function( response, status, xhr ) {
                    switch (status) {
                        case 'error':
                            $('#resultado').waitMe('hide');
                            $('#resultado').append('Error comuniquese con el administrador');
                            break;
                        case 'sucess':
                                $('#resultado').waitMe('hide');
                                break;
                        }

                });
            }else{
                var title='Error de Llenado';
                var body="Debe de seleccionar el tipo de cita y la especialidad para generar el reporte";
                var clase='dialog-error';
                var arrayBtns = [{text: 'Cerrar',
                                        click: function( event, ui) {
                                            jQuery( this ).dialog( "close" );
                                            idAtenAreaModEstab.select2('open');
                                        }}
                                ];
                showDialogMsg(title, body, clase, '', arrayBtns, false, null, true);
            }
        });

        {% if not app.user.hasRole('ROLE_SUPER_ADMIN') %}
            idAreaModEstab.select2('val','{{idAreaModEstab.getId()}}' );
            idAreaModEstab.trigger('change');
            idAreaModEstab.parent().parent().hide();
        {% endif %}


    });
    </script>
{% endblock %}

{% block notice %}
{% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
{% endblock notice %}

{% block list_table -%}

<div class="container-fluid">
    <div class="row">
        <form id="formBusqueda" method="post" >
            <div class="col-md-7 col-md-offset-2">
                <h2 class="text-center">Consulta de Fechas Libres</h2>
                <img src="{{ asset('bundles/minsalcitas/imagenes/BuscarCita.png') }}" alt="imagen_buscar" style="width: 100px; margin: 20px auto; display:block;" />
                <table class="table table-bordered">
                    <tbody>
                      <tr>
                          <th style="width: 300px;">Área a la que pertenece la especialidad:</th>
                          <td><select id="idAreaModEstab" name="idAreaModEstab" style="width:400px !important;">
                              {% for area in areas %}
                              <option value="{{ area.id }}">{{ area }}</option>
                              {% endfor %}
                          </select></td>
                      </tr>
                      <tr>
                          <th>Especialidad:</th>
                          <td><select id="idAtenAreaModEstab" name="idAtenAreaModEstab" style="width:400px !important;"></select></input></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <center>
                <button id="buscar" style="width: 160px; margin-top: 5px;" class="btn btn-primary" ><i class="glyphicon glyphicon-zoom-in"></i><strong>&nbsp; Buscar</strong></button>
                <a id="limpiar" style="width: 160px; margin-top: 5px;" class="btn btn-info" href="#"><i class="fa fa-trash-o"></i><strong>&nbsp; Limpiar</strong></a>
            </center>
        </div>
    </div>
    <br/>
    <div class="row">
        <div id="resultado" class="col-md-10 center-block" style="min-height: 150px">
        </div>
    </div>
</div>
{% endblock -%}
