<html>
    <head>
        <META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% include 'MinsalSiapsBundle::standard_css_reportes.html.twig' %}
        <link href="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/css/MntPacienteAdmin/encabezado_paciente.css') }}" type="text/css" rel="stylesheet">
        <style type="text/css">
            html,body {overflow: visible !important; color: black !important; border-style: none !important; border-color:black !important;font-size: 12px!important;}
            div .table-responsive {overflow: visible !important; border-style: none !important}

            .panel{ margin: 8px;}
            .panel-info > .panel-heading,.titulo_vista {
                background-color: white;
                font-size: 12px;
                border-color: black;
                color: black;
                font-weight: bold;
                border-style: none !important;
                padding: 2px 5px;
            }
            table{font-size: 10px!important;}
            .panel-body, .vista_paciente{font-size: 10px; border-style: none !important;}
            td,th {padding: 5px 10px;}
            .panel-info{border-color:black}
            table {width: 100%}

        </style>
    </head>
    <body >
        <div>             
            <div class="table-responsive" style="overflow-x: auto; border:0px; ">
                <table  style="font-size: 10px;border:0px;">
                    <tbody>
                        <tr>
                            <td><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/Reporte-Escudo.png') }}" style="width: 50px;"/></td>
                            <td  width="500px">
                                <b>
                                <center>MINISTERIO DE SALUD <br/>
                                    SISTEMA NACIONAL DE SALUD/COMISION INTERSECTORIAL DE SALUD (CISALUD)<br/>
                                    FORMULARIO PARA NOTIFICACION INDIVIDUAL DE ENFERMEDADES OBJETO DE VIGILANCIA SANITARIA (VIGEPES-01)<br/>
                                </b>
                                </center>
                            </td>
                            <td ><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/minsal_2014.png') }}" style="width: 120px;float:right;"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="" border = "0">
                <tbody>
                    <tr>
                        <td> <strong>Nombre del Establecimiento</strong></td>
                        <td colspan="2">{{ app.user.getIdEstablecimiento()|upper }} </td>
                        <td><strong>Fecha de Consulta: </strong>{{object.fechaconsulta | date('d-m-Y')}}</td>
                    </tr>
                    <tr>
                        <td><strong>No. Expediente/No. de Afiliación:</strong></td>
                        <td>{{expediente.numero}}</td>
                        <td><strong>Categoría de Afiliación:</strong></td>
                        <td> {{(expediente.idPaciente.idAreaCotizacion ?: '-')}} </td>
                    </tr>
                    <tr>
                        <td><strong>No. DUI:</strong></td>
                        <td>{% if expediente.idPaciente.idDocPaciente.id == 1%} {{expediente.idPaciente.numeroDocIdePaciente}} {%else%} - {% endif %}</td>
                        <td><strong>Fecha de nacimiento</strong>: {{expediente.idPaciente.fechaNacimiento | date ('d/m/Y')}}</td>
                        <td><strong>Edad: </strong>{{edad}}</td>
                    </tr>
                    <tr>
                        <td><strong>Nombre:</strong></td>
                        <td colspan="3" style="font-size: 12px">
                            {{expediente.idPaciente.primerApellido ~ ' '~ expediente.idPaciente.segundoApellido ~ ' '~ expediente.idPaciente.apellidoCasada}}   
                            {{expediente.idPaciente.primerNombre ~ ' '~ expediente.idPaciente.segundoNombre ~ ' '~ expediente.idPaciente.tercerNombre}}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Si es menor de edad<br/>Nombre completo de responsable:</strong></td>
                        <td colspan="2">{% set var=edad|split('año')%}
                            {% if var|length == 2 %}
                                {% if var[0] <18 %}
                                    {{expediente.idPaciente.nombreResponsable}}
                                {% endif %}
                            {% else %}
                                {{expediente.idPaciente.nombreResponsable}}
                            {% endif %}
                        </td>
                        
                        <td>
                            <strong>Sexo: </strong>{{expediente.idPaciente.idSexo}}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Dirección Completa:</strong></td>
                        <td colspan="2">{{expediente.idPaciente.direccion}}</td>
                        <td>
                            <strong>Area: </strong>{{expediente.idPaciente.areaGeograficaDomicilio}} <br><br>
                            <strong>Nacionalidad: </strong>{{expediente.idPaciente.idNacionalidad}}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Departamento: </strong>{{expediente.idPaciente.idDepartamentoDomicilio}}</td>
                        <td colspan="2"><strong>Municipio: </strong>{{expediente.idPaciente.idMunicipioDomicilio}}</td>
                        <td><strong>Pais de residencia:</strong></td> 
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Localidad:</strong></td> 
                        <td ><strong>Teléfono:</strong>{{expediente.idPaciente.telefonoCasa}}</td> 
                    </tr>
                </tbody>
            </table>  
        </div>
<br/>

<div >  
    <table style="border-style: solid;border-color: black; border-width: 1px">
        <tbody>
            <tr>
                <td>
                    <strong>Estudiante:&nbsp;&nbsp;SI&nbsp;</strong> 
                    &nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>&nbsp;&nbsp;
                    <strong>&nbsp;&nbsp;NO&nbsp;&nbsp;</strong> 
                    <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>
                </td>
                <td >
                    <br>_____________________________________________________________________________________________________<br>
                    <strong>Nombre del Centro Educativo</strong> (completar esta informacion unicamente si es un estudiante)  
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>Antecedentes Obstétricos: </strong> 
                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/> &nbsp;&nbsp;Aborto&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/> &nbsp;&nbsp;Embarazada&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/> &nbsp;&nbsp;Parto&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/> &nbsp;&nbsp;Puerperio&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/> &nbsp;&nbsp;No aplica&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Semana de amenorrea:&nbsp; ____________<br><br>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
  
    <table border = "0">
        <tbody>
            <tr>
                <td>
                    <strong>Manejo:</strong> 
                    &nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>&nbsp;&nbsp;
                    &nbsp;&nbsp;Ambulatorio&nbsp;
                    &nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>&nbsp;&nbsp;
                    &nbsp;&nbsp;Hospitalario&nbsp;&nbsp;
                    <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>
                </td>
                <td >
                    <strong>Referido a:</strong>__________________________________________________________________________________________<br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br> __________________________________________________________________________________________________________________________________________________<br>
                    <center><strong>Dianóstico clínico/ Sospecha Diagnóstica:</strong></center>
                </td>
            </tr>
            <tr>
                <td><strong>Fecha de inicio de Síntima: </strong>_____/______/______</td>
                <td style="text-align: right"><strong>Fecha de notificación: </strong>_____/______/______</td>
            </tr>
            <tr>
                <td>
                    <strong>Condicion: </strong>
                    &nbsp;&nbsp;Vivo&nbsp;
                    &nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>&nbsp;&nbsp;
                    &nbsp;&nbsp;Muerto&nbsp;
                    &nbsp;&nbsp;<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/minsalsiaps/imagenes/cuadrado_impresion.jpg') }}" style="width: 12px; height: 12px;"/>&nbsp;&nbsp;
                <td style="text-align: right"><strong>Fecha de defuncion: </strong>_____/______/______</td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>Causa de Defunción: </strong>______________________________________________________________________________________________________________________________<br>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 12px">
                    <strong>Nombre del médico que notifica: </strong>{{object.getIdEmpleado()}}<br>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <strong>Firma y Sello: _________________________</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 8px">
                    <center>Una copia queda en expediente y otra se envía al centro de acopio para su registro en el VIGEPES. Este formulario debe ser llenado en forma completa y con letra de molde</center>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
